@page
@model Hoanta_Roxana_Proiectgym.Pages.Cursuri.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Listă cursuri</h1>

<p>
    <a asp-page="Create">Creare curs nou</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Curs[0].DenumireCurs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curs[0].Dificultate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Curs) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DenumireCurs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dificultate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
